/* @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:wght@100;300;400;500;700&display=swap"); */

:root {
  --clr-beige: #fffbf3;
  --clr-brown: #543333;
  --clr-orange: #fdbd99;
  --clr-dark-brown: #543e33;
  --btn-border: 1px solid var(--clr-brown);
  --font-main: "Cormorant Garamond", serif;
  --font-secondary: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-secondary);
}

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: var(--font-main);
}

header {
  padding: 1rem 1.6rem;
  background-color: var(--clr-beige);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 2px solid var(--clr-brown);
}

.top-header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-btn {
  all: unset;
  cursor: pointer;
  padding: 10px 20px;
  border: var(--btn-border);
  color: inherit;
}

.menu-btn {
  all: unset;
  cursor: pointer;
  font-size: 2.2rem;
  color: var(--clr-brown);
}

.bottom-header {
  text-align: center;
}

.bottom-header h2 {
  color: var(--clr-brown);
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

.shine,
.passion {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.shine {
  background-color: var(--clr-orange);
  color: var(--clr-brown);
}

.passion {
  background-color: var(--clr-dark-brown);
  color: var(--clr-beige);
}

.passion .image {
  background-color: var(--clr-beige);
}

.slogan {
  min-height: 700px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.slogan > h1 {
  font-size: 2.2em;
  max-width: 245px;
}

.passion > .slogan > h1 {
  max-width: fit-content;
}

.shine .link-btn,
.pasison .link-btn {
  font-size: 0.9em;
  padding: 1em 1.5em;
}

.passion .link-btn {
  border-color: var(--beige);
}

.passion .image {
  padding: 1rem;
}

.passion .image img {
  max-width: 220px;
}

.image img {
  width: 100%;
}

.shine .image img {
  height: 100%;
}

@media (min-width: 480px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 960px) {
  .shine {
    flex-direction: row;
  }

  .passion {
    flex-direction: row-reverse;
  }

  .shine > div,
  .passion > div {
    flex-basis: 50%;
  }
}
